[submodule "vendor/SDL"]
	path = vendor/SDL
	url = git@github.com:libsdl-org/SDL.git
	branch = SDL2
[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "vendor/stb"]
	path = vendor/stb
	url = git@github.com:nothings/stb.git
